h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2952aa;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer {
    background-color: #2952aa;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card {

    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-20px);
    background-color: #7575ff;
    cursor: pointer;
    /* Movimenta o card para cima quando o mouse passa sobre ele */
}